<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3>Sucursales</h3>
      <app-filtro-localidad (sucursalesFiltradas)="procesarSucursales($event)"></app-filtro-localidad>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm">
      <div *ngIf="sucursales.length > 0" class="mt-4">
        <div *ngFor="let sucursal of sucursales" class="card mb-2">
          <div class="card-header">{{ sucursal.nomSucursal}}</div>
          <div class="card-body">
            <h5 class="card-title"> Dirección: {{ sucursal.calle }} {{ sucursal.nroCalle }}</h5>
            <p class="card-text"> Teléfono: {{ sucursal.telefonos }} <br> Horarios de atención: {{ sucursal.horarioSucursal }} <br> Servicios disponibles: {{ sucursal.serviciosDisponibles }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <app-mapa-sucursales></app-mapa-sucursales>
    </div>
  </div>
</div>