<form class="col-md-12">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <select [formControl]="provincia" class="form-select col-6">
          <option selected value="0">Debe seleccionar una provincia</option>
          <option *ngFor="let p of provincias" [value]="p.codProvincia">
            {{ p.nomProvincia }}
          </option>
        </select>
      </div>
      <div class="col-sm">
        <select [formControl]="localidad" class="form-select col-6">
          <option selected value="0">Debe seleccionar una localidad</option>
          <option *ngFor="let l of localidades" [value]="l.nroLocalidad">
            {{ l.nomLocalidad}}
          </option>
        </select>
      </div>
    </div>
  </div>
</form>